<h2>Forgot Password</h2>
<form method="post" action="/Account/ForgotPassword">
    <table>
        <tr><td><label>Email</label></td></tr>
        <tr><td><input type="email" required name="userEmail" placeholder="Enter Email" style="margin-bottom:5px; width:100%;" /></td></tr>
        <tr><td><button type="submit" style="width:100%;">Send Reset Link</button></td></tr>
    </table>
</form>