<h2>Register</h2>
<form method="post" action="/Account/Register">
    <table>
        <tr><td><label>Username</label></td></tr>
        <tr><td><input type="text" required name="UserName" placeholder="Enter Username" style="width:100%;" /></td></tr>
        <tr><td><label>Email</label></td></tr>
        <tr><td><input type="email" required name="UserEmail" placeholder="Enter Email" style="width:100%;" /></td></tr>
        <tr><td><label>Password</label></td></tr>
        <tr><td><input type="password" required name="Password" placeholder="Enter Password" style="margin-bottom:5px;width:100%;" /></td></tr>
        <tr><td><button type="submit" style="width:100%;">Register</button></td></tr>
        <tr><td><label>Already member?</label><a href="/Account/Login">Sign in</a></td></tr>
    </table>
</form>