@model ALLINONEPROJECTWITHOUTJS.Controllers.PartyMasterViewModel

<table>
    <thead>
    <th>Party Name</th>
    <th>Actions</th>
    <th></th>
    </thead>
    <tbody>
        @if (Model != null)
        {
            //@foreach (var item in Model)
            @for (int i = 0; i < (Model.partyMasters?.Count ?? 0); i++)
            {
                <tr>
                    <input type="hidden" name="PartyMaster.Id" value=@Model.partyMasters[i].Id />
                    <td><input type="text" readonly name="PartyMaster.Name" value="@Model.partyMasters[i].Name" /></td>
                    <td>
                        <form method="post" action="/Party/EditParty">
                            <input type="hidden" name="PartyMaster.Id" value=@Model.partyMasters[i].Id />
                            <button type="submit" style="width:100px;">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/Party/DeleteParty">
                            <input type="hidden" name="Id" value=@Model.partyMasters[i].Id />
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>